{{define "base"}}
<!DOCTYPE html>
<html lang="en" data-theme="retro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <script src="/assets/htmx.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/assets/response-targets.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
{{block "body" .}}{{end}}
</body>

{{block "script" ""}}{{end}}
</html>
{{end}}