{{template "base" .}}

{{define "body"}}
<div class="flex flex-row">
    <div class="h-screen justify-center md:w-1/6 sm:w-2/6">
        <div class="h-full w-full bg-secondary pt-4 px-4 overflow-y-scroll">
            <div class="flex w-full">
                <button class="btn w-full mx-auto text-lg" hx-post="/story">
                    <span class="material-symbols-outlined">
                        add
                    </span>
                    <span>Create</span>
                </button>
            </div>
            <div class="w-full" id="story_list" hx-get="/story" hx-trigger="story-list from:body, load">
            </div>
        </div>
    </div>
    <div class="h-screen w-5/6" id="story-info">
    </div>
</div>
{{end}}