{{template "base" .}}
{{define "body" }}
<div hx-ext="response-targets"
  class="relative flex flex-col justify-center h-screen overflow-hidden">
  <div class="w-full p-6 m-auto bg-base-300 rounded-md shadow-md lg:max-w-lg">
    <form hx-post="/register" hx-target="#message"
      hx-target-400="#message" hx-swap="innerHTML">
      <h1 class="text-3xl font-semibold text-center text-neutral">Login</h1>
      <div>
        <label for="email"
            class="label text-lg text-primary-content label-text">
            Email
        </label>
        <input name="email" type="text" placeholder="Email Address"
            class="w-full input input-bordered input-primary" />
      </div>
      <div>
        <label class="label text-lg text-primary-content label-text" for="password">Password</label>
        <input bind:value={password} name="password" type="password" placeholder="Enter Password" class="w-full input input-bordered input-primary" />
      </div>
      <div class="w-full flex flex-row">
        <button class="btn btn-primary">Create account</button>
      </div>
      <div id="message" class="text-error"></div>
    </form>
  </div>
</div>
{{end}}