<ul class="w-full">
    {{ range . }}
    <li class="flex flex-row w-full py-2 gap-2 justify-between" id="story">
        <a href="/story/{{.StoryID}}" class="w-4/6 truncate justify-start">
            <button class="btn btn-primary">
                {{.StoryID}}
            </button>
        </a>
        <button hx-target="closest #story" hx-swap="outerHTML"
            class="btn btn-primary w-1/6" hx-delete="/story/{{.StoryID}}">
            <span class="material-symbols-outlined">
                delete
            </span>
        </button>
    </li>
    {{end}}
</ul>